<!DOCTYPE html>
<html>
<head>
    <link rel="shortcut icon" href="#">
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Your Profile</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="styles/settings.css" />
    <link href="https://fonts.googleapis.com/css?family=IBM+Plex+Sans" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    
</head>
<body>
    <nav>
        <ul class="left-nav">
            <li><a href="./more"></span> Back</a></li>
        </ul>
        <ul class="right-nav">
            <li><h1 class="navbar-header">Contacts</h1></li>
        </ul>
    </nav>
    <div class="favorites-header">
        <h1 class="favorites">Favorites</h1>
        <div class="favorites-container">
            <img src="images/favorite2.png">
            <img src="images/favorite3.png">
            <img src="images/favorite1.png">
            <img src="images/favorite4.png">
            <img src="images/favorite5.png">
            <img src="images/favorite6.png">
        </div>
    </div>
    <div class="form-container">
    <h1 class="add-contact-header">Add Contact</h1>
    <form id="newContactForm">
        <div class="contact-container">
            <input type="email" id="emailContactEmail" name="email" placeholder="Type email address" required="required"/>
        </div>
        <input id="save-contacts" class="add-contact inactive" type="submit" name="submit" value="Add"/>
    </form>
    </div>
    <h1 class="contacts-list">Contacts</h1>
    <div class="current-contacts-container">
    </div>

    <script src="scripts/settings.js"></script>
</body>
</html>