@media screen and (max-width: 425px) {
    * {
        font-family: 'IBM Plex Sans', sans-serif;
    }
    
    nav {
        top: 0;
        left: 0;
        height: 50px;
        position: fixed;
        width: 100%;
        overflow: hidden;
        display: flex;
        flex-direction: row;
        background-color: #fff;
    }

    a {
        text-decoration: none;
        color: inherit;
    }

    .navbar-header {
        font-weight: 300;
        font-size: 20px;
        margin-top: 1.5px;
        border: none;
    }

    .left-nav li {
        display: flex;
        flex-direction: row;
        list-style: none;
        color: #777;
        font-weight: 300;
        font-size: 20px; 
        margin-top: -7.5px;   
    }

    .back-arrow {
        font-weight: 600;
        font-size: 22px;
        margin-top: -2.5px;
        margin-right: -5px;
    }

    .left-nav {
        margin-left: -5%;
    }

    .right-nav {
        width: 60%;
    }

    .right-nav li {
        text-decoration: none;
        list-style: none;
        font-size: 20px;
        font-weight: 500;
        width: 100%;
        text-align: center;
        margin-left: -45px;
        margin-top: -6px;
        color: #555;
    }
    /* nav {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        background-color: lightblue;
        font-family: 'IBM Plex Sans', sans-serif;
    }

    nav ul {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        list-style: none;
        text-decoration: none;
    }

    .left-nav {
        width: 50%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        margin-left: 0%;
        color: black;
        padding-left: 0;
    } */

    .signup {
        margin-right: -5px;
    }

    .feed {
        margin-right: -5px;
    }

    .left-nav a {
        text-decoration: none;
        color: black;
    }

    .right-nav {
        display: flex;
        flex-direction: row;
        text-align: center;
        width: 50%;
        justify-content: space-around;
        margin-right: 2%;
    }

    .right-nav a {
        text-decoration: none;
        color: black;
        text-align: center;
    }

    .favorites-header {
        display: flex;
        flex-direction: column;
        height: 231px;
        margin-top: 50px;
        width: 104.5%;
        margin-left: -2.5%;
        background-color: #1F2334;
    }

    .favorites {
        color: white;
        font-weight: 300;
        font-size: 18px;
        margin-left: 7.5%;
        margin-top: 7%;
        margin-bottom: -1%;
    }

    .favorites-container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        justify-content: left;
    }

    .favorites-container img {
        width: 60px;
        height: 60px;
        margin-left: 7.5%;
        margin-top: 4%;

    }

    .current-contacts-container {
        width: 103.5%;
        margin-left: -2%;
        display: flex;
        flex-direction: column;
    }

    .contact-container {
        font-size: 12px;
        width: 100%;
        display: flex;
    }

    .contact-list {
        width: 100%;
        padding-left: 0;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    
    .contact {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        border-bottom: 1px solid #d8d8d8;
        padding-left: 6%;
        padding-bottom: 3%;
        margin-top: -2%;
        font-size: 16px;
        font-weight: 200;
        color: #888;
    }

    .delete-contact-button {
        background-color: white;
        color: #111111;
        border: none;
        margin-bottom: 5px;
        margin-top: -5px;
        margin-left: -2%;
        padding-right: 10%;
        margin-right: 0;
        fill: #a2a2a2;
    }

    .update-contact-button {
        background-color: white;
        border: none;
        margin-bottom: 5px;
        margin-left: -40%;
        margin-top: -5px;
        fill: #a2a2a2;
    }

    .form-container {
        display: flex;
        flex-direction: column;
        justify-content: right;
    }

    .add-contact-header {
        font-size: 14px;
        margin-top: 6%;
        margin-left: 6%;
        font-weight: 600;
        color: #777;
    }

    form {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    form input[type="email"] {
        border: none;
        border-bottom: 1px solid #1F2334;
        height: 25px;
        margin-left: 6%;
        padding-left: 4%;
        padding-bottom: 2%;
        width: 83.5%;
        margin-top: 2.5%;
    }

    ::placeholder {
        color: #d8d8d8;
    }

    input[type="submit"] {
        width: 20%;
        height:25px;
        text-align: center;
        border: 1px solid #1F2334;
        margin-top: 2.5%;
        margin-left: 73.5%;
    }

    .inactive {
        background-color: white;
        border: 1.5px solid #1F2334;
    }

    .active {
        background-color: #1F2334;
        color: white;
    }

    .contacts-list {
        color: #888;
        font-size: 18px;
        margin-left: -2%;
        padding-left: 6%;
        padding-bottom: 4%;
        margin-top: 20px;
        font-weight: 500;
        width: 97%;
        border-bottom: 1px solid #d8d8d8;

    }
}